### elasticsearch ###
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

### mysql ###
MYSQL_USER=user
MYSQL_USER_PASSWORD=user
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ALLOW_EMPTY_PASSWORD=no

### rabbitmq ###
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

### mongodb ###
MONGO_DATA_DIR=/data/db
MONGO_LOG_DIR=/var/log/mongodb

### redis ###
REDIS_PORT=6379
